#black {
    height:50px;
    width:50px;
    background: #000;
    float:left;
    border: 2px solid red;
    position:relative;
}

#white {
    height:50px;
    width:50px;
    background:  #FAF0E6;
    float:left;
    border: 2px solid red;
    position:relative;
}
#circle {
    height:48px;
    width:48px;
    border: 2px solid red;
    border-radius: 25px;
    border-width: 2px;
    margin:0 auto;
    top:0px;
    position:absolute;
}
#rectangle {
    width: 200px;
    height: 100px;
    background: red;
}
#triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid red;
    border-bottom: 50px solid transparent;
}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
}
#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
#triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}