#analysis .fen {
    padding-right: 30px;
    margin-bottom: 20px;
}

#play #board,
#analysis #board,
#archiveView #board{
    margin-right: 30px;
}
.black-3c85d {
    background-color: #b7b58f;
    color: #f0d9b5;
}
.white-1e1d7 {
    background-color: #e3e2c4;
    color: #b58863;
}
.notation-322f9 {
    color: #535342;
}
.board-b72b1 {
    border-color: #b7b58f;
}
.square-55d63.highlight {
    -webkit-box-shadow: inset 0 0 3px 3px #535342;
    -moz-box-shadow: inset 0 0 3px 3px #535342;
    box-shadow: inset 0 0 3px 3px #535342;
}

.square-55d63.bestmove {
    /*background-color: rgba(255,0,0,0.5);*/
    -webkit-box-shadow: inset 0 0 3px 3px #ff6060;
    -moz-box-shadow: inset 0 0 3px 3px #ff6060;
    box-shadow: inset 0 0 3px 3px #ff6060;
}

#evaluation {
    height: 100%;  /* !!! */

    border: 2px solid #b7b58f;
    background-color: #fff;
    width: 20px;
    border-radius: 9px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 5px;
}
#evaluation .black {
    background-color: #b7b58f;
}
#evaluation .tick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px ridge #535342;
    opacity: 0.2;
}
#evaluation .tick.zero {
    border-bottom: 8px solid #990000;
    margin-top: 4px;
    opacity: 0.6;
}


#game .panel-body {
    padding: 0;
    overflow-y: scroll;
}
#game table {
    margin-top: -1px;
    margin-bottom: 0;
    table-layout: fixed;
}
#game .index {
    font-weight: bold;
    //background-color: #fcf8e3;
}
#game td {
    padding: 8px 1px;
}
#game td[class^=eval] {
    color: #b7b58f;
}
#game .highlight {
    background-color: #d3d2a6;
}
#game .alt .highlight {
    background-color: inherit;
    font-weight: bold;
    color: #535342;
}
#game .result {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

#game .text td,
#game .alt td {
    padding: 5px 18px 5px 8px;
    text-align: left;
    position: relative;
    background-color: #fcf8e3;
    color: #777;
}

#game .alt .close,
#game .text .close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}
#game .text:hover .close,
#game .alt:hover .close {
    display: block;
}

#game .game-controls .status {
    margin-top: 8px;
}