body {
    background-color: #e3e2c4;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navbar {
    margin-bottom: 0;
}

#header h1{
    color: #666632;
    font-size: 48px;
}

#header {
    background-color: #d3d2a6;
    padding: 0;
    margin: 0;
    min-height: 44px;
    position: relative;
}
#header img {
    min-height: 44px;
}
#toggle-nav {
    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 0;
    position: absolute;
    right: 2px;
    bottom: 2px;
    /*
    bottom: 50%;
    margin-bottom:-20px;
    */

}

.popover-content {
    padding: 5px 1px 1px 5px;
}

.navbar-toggle {
    border-color: #535342;
    background-color: #797960;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #797960;
}
.navbar-toggle .icon-bar {
    background-color: #535342;
}

.navbar {
    min-height: 0;
}

.well {
    background-color: #d3d2a6;
    border-color: #b7b58f;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #e3e2c4;
    background-color: #939374;
}

/* sorting */
th a.sort {
    cursor: pointer;
}
th a.sort + span{
    line-height: 20px;
    font-size: 12px;
    float: right;
}
th a.sort + .fa:after {
    content: "\f0dc";
    color: #939374;
}
th a.sort.asc  + .fa:after {
    content: "\f0d8";
    color: #222;
}
th a.sort.desc  + .fa:after {
    content: "\f0d7";
    color: #222;
}

.no-margin {
    margin: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #d3d2a6;
}

.pagination > li > a,
.pagination > li > span {
    color: #535342;
    background-color: #d3d2a6;
    border: 1px solid #b7b58f;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #535342;
    background-color: #b7b58f;
    border-color: #939374;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #e3e2c4;
    background-color: #939374;
    border-color: #939374;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #939374;
    background-color: #d3d2a6;
    border-color: #b7b58f;
}


#content {
    margin-top: 20px;
}

#footer {
    text-align: center;
    padding: 20px 0;
}
#footer p {
    margin: 0;
}

/* events */
#events h3,
#games-archive h3 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
#events .events-table {
    table-layout: fixed;
}
#events .events-table tr {
    background: -moz-linear-gradient(top,  rgba(227,226,195,0) 0%, rgba(205,201,163,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,226,195,0)), color-stop(100%,rgba(205,201,163,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(227,226,195,0) 0%,rgba(205,201,163,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(227,226,195,0) 0%,rgba(205,201,163,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(227,226,195,0) 0%,rgba(205,201,163,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(227,226,195,0) 0%,rgba(205,201,163,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e3e2c3', endColorstr='#cdc9a3',GradientType=0 ); /* IE6-9 */
}
#events .events-table td {
    font-size: 12px;
    vertical-align: middle;
    padding: 5px;
}
#events .events-table td:first-child {
    width: 40px;
    text-align: center;
}
#games-archive {
    text-align: center;
}



/* daily games */
#daily-games-table {
    margin-bottom: 10px;
}
#daily-games-table td {
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
}
#daily-games-table tr:first-child  td {
    background-color: #d3d2a6;
}
#daily-games-table td {
    width: 40%;
}
#daily-games-table td.result {
    width: auto;
}

.text-green {
    color: #006600 !important;
}

.text-red {
    color: #990000 !important;
}

.text-blue {
    color: #006699 !important;
}

.text-standard {
    color: #333333 !important;
}

.text-rapid {
    color: #990000 !important;
}

.text-blitz {
    color: #006699 !important;
}

.tooltip-inner {
    white-space: nowrap;
    max-width: 220px;
}

/* Bootstrap customization */
.table, .table th, .table td{
    border-color: #d3d2a6 !important;
}
.table .table {
    background-color: transparent;
}

hr {
    border-color: #c9c9ae;
}
.form-control {
    border-color: #c9c9ae;
}

.input-group-addon {
    background-color: #d3d2a6;
    border: 1px solid #c9c9ae;
    color: #797960;
}

.radio label, .checkbox label {
    font-weight: bold;
}

/* navbar */
@media (max-width: 360px) {
    .navbar-brand {
        font-size: 16px;
        font-weight: bold;
    }
}
.navbar-default {
    background-color: #b7b58f;
    border: none;
    font-size: 12px;
}
/* title */
.navbar-default .navbar-brand {
    color: #535342;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #333;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #535342;
    /*border-right: 5px solid #606044;*/
}
.navbar-default .navbar-nav > li:first-child > a {
    /*border-left: 5px solid #606044;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #e3e2c4;
    background-color: #606044; /*#797960;*/
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #535342;
    border-bottom-color: #535342;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #797960;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #797960;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #797960;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #535342;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #535342;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 10px 4px;
    }
}
@media (min-width: 1200px) {
    .navbar-nav > li > a {
        padding: 10px 7px;
        font-size: 16px;
    }
}

/* btn-2700 */
.btn-2700 {
    color: #e3e2c4;
    background-color: #939374;
    border-color: #797960;
}
.btn-2700:hover,
.btn-2700:focus,
.btn-2700.focus,
.btn-2700:active,
.btn-2700.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #797960;
    border-color: #535342;
}
.btn-2700:active,
.btn-2700.active,
.open > .dropdown-toggle.btn-2700 {
    background-image: none;
}
.btn-2700.disabled,
.btn-2700[disabled],
fieldset[disabled] .btn-2700,
.btn-2700.disabled:hover,
.btn-2700[disabled]:hover,
fieldset[disabled] .btn-2700:hover,
.btn-2700.disabled:focus,
.btn-2700[disabled]:focus,
fieldset[disabled] .btn-2700:focus,
.btn-2700.disabled.focus,
.btn-2700[disabled].focus,
fieldset[disabled] .btn-2700.focus,
.btn-2700.disabled:active,
.btn-2700[disabled]:active,
fieldset[disabled] .btn-2700:active,
.btn-2700.disabled.active,
.btn-2700[disabled].active,
fieldset[disabled] .btn-2700.active {
    background-color: #939374;
    border-color: #797960;
    color: #fff;
}
.btn-2700 .badge {
    color: #428bca;
    background-color: #fff;
}

/* panel-default */
.panel {
    background-color: #e3e2c4;
}
.panel-default {
    border-color: #c9c9ae;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #d3d2a6;
    border-color: #c9c9ae;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #c9c9ae;
}

.panel-default > .panel-footer {
    color: #333;
    background-color: #d3d2a6;
    border-color: #c9c9ae;
}

.label-default {
    background-color: #b7b58f;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#rating-tabs {
    margin-top: 30px;
}

/* filters */
.panel-title > a {
    color: #428bca;
    text-decoration: none;
}

#official-ratings-search br {
    display: none;
}
@media (max-width: 400px) {
    #official-ratings-search br {
        display: inherit;
    }
}

#official-ratings-search .panel-body {
    padding: 15px 5px 0;
}

#nameFilter::-webkit-input-placeholder {
    font-size: 13px;
}
#nameFilter:-moz-placeholder {
    font-size: 13px;
}
#nameFilter::-moz-placeholder {
    font-size: 13px;
}
#nameFilter:-ms-input-placeholder {
    font-size: 13px;
}

#ratingFromFilter,
#ratingToFilter,
#birthFromFilter,
#birthToFilter {
    display: inline-block;
    width: 40%;
    float: none;
}
#ratingToFilterLabel,
#birthToFilterLabel {
    text-align: center;
    width: 20%;
}

#birthFromFilter,
#birthToFilter {
    padding: 5px 0 6px 3px;
}

#ratingsFilters {
   margin-right: 0;
}
#ratingsFilters .col-sm-4 div[class^=col-]{
    padding: 0;
}

#official-ratings-table th a,
#live-ratings-table th a,
#official-ratings-table td a,
#live-ratings-table td.name a {
    color: #333;
}

#official-ratings-table td.rapid,
#live-ratings-table td.live_rapid_rating {
    color: #990000;
}

#official-ratings-table td.blitz,
#live-ratings-table td.live_blitz_rating {
    color: #006699;
}

#live-ratings-table a.live {
    background-color: #3c763d;
    color: #fff;
    text-decoration: none;
    margin: 3px auto 0;
    font-size: 12px;
    display: block;
    width: 30px;
    line-height: 15px;
    text-align: center;
}
@media (max-width: 768px) {
    #live-ratings-table a.live {
        font-size: 10px;
        width: 25px;
    }
}

/* live ratings tabs */
#live-ratings-tabs > li > a {
    border-radius: 4px 4px 0 0;
    border: 1px solid #9c9a74;
    border-bottom: none;
    padding: 7px 10px 6px;
    background-color: #b7b58f;
    color: #333;
    width: 72px;
    text-align: center;
    margin-top: 1px;
}
@media (max-width: 400px) {
    #live-ratings-tabs > li > a {
        padding: 7px 3px 6px;
        width: 57px;
    }
}

#live-ratings-tabs > li.active > a,
#live-ratings-tabs> li.active > a:hover,
#live-ratings-tabs > li.active > a:focus {
    color: #333;
    background-color: #d3d2a6;
}

#live-ratings-tabs > li > a:hover {
    background-color: #d3d2a6;
}
.nav-pills > li + li {
    margin-left: 0;
}

#name-filter {
    width: 250px;
    margin-left: 10px;
    margin-top: 1px;
}

#name-filter .form-control:last-child {
    border-bottom-right-radius: 0;
}

#name-filter .input-group-addon:first-child {
    border-bottom-left-radius: 0;
}

@media (max-width: 665px) {
    #name-filter {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    #name-filter .form-control:last-child {
        border-bottom-right-radius: 4px;
    }

    #name-filter .input-group-addon:first-child {
        border-bottom-left-radius: 4px;
    }
}

/* RATING TABLES */

#live-ratings-table,
#official-ratings-table {
    table-layout: fixed;
}

#live-ratings-table {
    clear: both;
}

#live-ratings-table > tbody > tr.leaders,
#official-ratings-table > tbody > tr.leaders,
#peakRatings table > tbody > tr.leaders {
    background-image: url(/img/tr_bg_leaders.jpg);
}
#live-ratings-table > tbody > tr.top_ten,
#official-ratings-table > tbody > tr.top_ten,
#peakRatings table > tbody > tr.top_ten {
    background-image: url(/img/tr_bg_top_ten.jpg);
}
#live-ratings-table tbody tr.all_lines,
#official-ratings-table > tbody > tr.all_lines,
#peakRatings table > tbody > tr.all_lines {
    background-image: url(/img/tr_bg.jpg);
}

#live-ratings-table th,
#live-ratings-table td,
#official-ratings-table th,
#official-ratings-table td {
    text-align: center;
    vertical-align: middle;
}

#live-ratings-table th,
#official-ratings-table th {
    background-color: #d3d2a6;
    font-size: 18px;
    font-weight: normal;
    line-height: 19px;
    padding: 1px;
}
#live-ratings-table.women > thead th {
    background-color: #efc6bc;
}

#live-ratings-table th a,
#official-ratings-table th a {
    text-decoration: none;
}
#live-ratings-table td,
#official-ratings-table td,
#peakRatings table td {
    font-size: 18px;
    line-height: 18px;
    height: 23px;
    padding: 2px 0 0 0;

    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

#live-ratings-table td.position_change {
    font-size: 14px;
}

#live-ratings-table td.name,
#official-ratings-table td.name,
#peakRatings table td.name {
    text-align: left;
    padding-left: 10px;
}

#live-ratings-table td.country .flag,
#official-ratings-table td.country .flag {
    margin: 2px;
}
#live-ratings-table td.standard_change,
#live-ratings-table td.rapid_change,
#live-ratings-table td.blitz_change {
    text-align: right;
    padding-right: 10px;
}

#live-ratings-table td.live_rapid_rating,
#live-ratings-table td.live_blitz_rating {
    font-size: 14px;
}

/* live table sizing */

#live-ratings-table th.live_pos {
    width: 40px;
}

#live-ratings-table th.position_change {
    width: 40px;
}

#live-ratings-table th.name {
    width: 180px;
}

#live-ratings-table th.country {
    width: 30px;
}

#live-ratings-table th.standard_change,
#live-ratings-table th.rapid_change,
#live-ratings-table th.blitz_change {
    width: 70px;
}

#live-ratings-table th.standard_games,
#live-ratings-table th.rapid_games,
#live-ratings-table th.blitz_games {
    width: 22px;
}

#live-ratings-table th.statistics,
#live-ratings-table th.games_archive {
    width: 22px;
}

#live-ratings-table th.age {
    width: 50px;
}

/* expand games */
#live-ratings-table tr.expand-games {
    background: none;
}
#live-ratings-table tr.expand-games th{
    font-size: 14px;
}
#live-ratings-table tr.expand-games td{
    font-size: 16px;
    height: 20px;
}
#live-ratings-table tr.expand-games > td {
    padding: 5px 0;
}
#live-ratings-table tr.expand-games h5 {
    margin-top: 0;
    font-size: 16px;
}
#live-ratings-table tr.expand-games .country {
    width: 30px;
}
#live-ratings-table tr.expand-games .country .flag {
    margin-top: 4px;
}
#live-ratings-table tr.expand-games .result {
    text-align: center;
    width: 40px;
}
#live-ratings-table tr.expand-games .change {
    text-align: right;
    padding-right: 10px;
    width: 75px;
}
#live-ratings-table tr.expand-games td.tournament {
    text-align: left;
    padding-left: 5px;
}

/*
#live-ratings-table tr.expand-games .name span {
    max-width: 115px;
    overflow-x: hidden;
    display: block;
}*/


@media (max-width: 768px) {
    #live-ratings-table th,
    #official-ratings-table th {
        background-color: #d3d2a6;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
    }
    #live-ratings-table td,
    #official-ratings-table td {
        font-size: 14px;
        height: 23px;
        padding: 0;
        line-height: 22px;
    }

    #live-ratings-table th.live_pos {
        width: 30px;
    }
    #events .events-table td:first-child {
        width: 30px;
    }

    #live-ratings-table th.position_change {
        width: 30px;
    }

    #live-ratings-table th.name {
        width: 130px;
    }
    #live-ratings-table th.standard_change,
    #live-ratings-table th.rapid_change,
    #live-ratings-table th.blitz_change {
        width: 60px;
    }

    #live-ratings-table th.age {
        width: 40px;
    }

    #live-ratings-table tr.expand-games .name {
        max-width: 115px !important;
    }
}

@media (max-width: 640px) {
    #live-ratings-table th.name {
        width: 130px;
    }
    #live-ratings-table th.live_standard_rating.canhide,
    #live-ratings-table td.live_standard_rating.canhide,
    #live-ratings-table th.standard_games.canhide,
    #live-ratings-table td.standard_games.canhide,

    #live-ratings-table th.live_rapid_rating.canhide,
    #live-ratings-table td.live_rapid_rating.canhide,
    #live-ratings-table th.rapid_games.canhide,
    #live-ratings-table td.rapid_games.canhide,

    #live-ratings-table th.live_blitz_rating.canhide,
    #live-ratings-table td.live_blitz_rating.canhide,
    #live-ratings-table th.blitz_games.canhide,
    #live-ratings-table td.blitz_games.canhide {
        display: none;
    }

    #live-ratings-table tr.expand-games .tournament {
        display: none;
    }
}

@media (max-width: 479px) {
    #live-ratings-table th.live_standard_rating,
    #live-ratings-table th.live_rapid_rating,
    #live-ratings-table th.live_blitz_rating {
        font-size: 12px;
    }
    #live-ratings-table th.name {
        width: 80px;
    }
    #live-ratings-table td.name {
        padding-left: 1px;
    }

    #live-ratings-table th.country,
    #live-ratings-table td.country {
        display: none;
    }

    #live-ratings-table th.statistics,
    #live-ratings-table td.statistics {
        display: none;
    }

    #live-ratings-table th.age,
    #live-ratings-table td.age {
        display: none;
    }

    #live-ratings-table tr.expand-games .date {
        display: none;
    }

    #live-ratings-table th.change {
        width: 50px;
    }
    #live-ratings-table td.change {
        padding-right: 2px;
    }
}

#live-ratings-table .standard_games img,
#live-ratings-table .rapid_games img,
#live-ratings-table .blitz_games img {
    display: block;
    margin: 2px 0 0 2px;
}

/*
@media (max-width: 767px) {
    #live-ratings-table th,
    #official-ratings-table th {
        background-color: #d3d2a6;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
    }
    #live-ratings-table td,
    #official-ratings-table td {
        font-size: 14px;
        line-height: 20px;
        padding: 0;
    }

    #live-ratings-table th.live_pos {
        width: 30px;
    }
    #events .events-table td:first-child {
        width: 30px;
    }

    #live-ratings-table th.position_change {
        width: 30px;
    }

    #live-ratings-table th.name {
        width: 130px;
    }
    #live-ratings-table th.standard_change,
    #live-ratings-table th.rapid_change,
    #live-ratings-table th.blitz_change {
        width: 60px;
    }

    #live-ratings-table th.age {
        width: 40px;
    }

    #live-ratings-table tr.expand-games .tournament,
    #live-ratings-table tr.expand-games .date {
        display: none;
    }

    #live-ratings-table td.standard_games,
    #live-ratings-table td.rapid_games,
    #live-ratings-table td.blitz_games {
        line-height: 17px;
    }
}
@media (max-width: 625px) {
    #live-ratings-table th.name {
        width: 180px;
    }
    #live-ratings-table th.live_standard_rating.canhide,
    #live-ratings-table td.live_standard_rating.canhide,
    #live-ratings-table th.standard_games.canhide,
    #live-ratings-table td.standard_games.canhide,

    #live-ratings-table th.live_rapid_rating.canhide,
    #live-ratings-table td.live_rapid_rating.canhide,
    #live-ratings-table th.rapid_games.canhide,
    #live-ratings-table td.rapid_games.canhide,

    #live-ratings-table th.live_blitz_rating.canhide,
    #live-ratings-table td.live_blitz_rating.canhide,
    #live-ratings-table th.blitz_games.canhide,
    #live-ratings-table td.blitz_games.canhide {
        display: none;
    }
    #live-ratings-table th.statistics,
    #live-ratings-table td.statistics {
        //display: none;
    }

    #live-ratings-table th.age,
    #live-ratings-table td.age {
        //display: none;
    }
}
@media (max-width: 480px) {
    #live-ratings-table th.name {
        width: 80px;
    }
    #live-ratings-table td.name {
        padding-left: 1px;
    }

    #live-ratings-table td.standard_change,
    #live-ratings-table td.rapid_change,
    #live-ratings-table td.blitz_change {
        padding-right: 10px;
    }
}
@media (max-width: 359px) {
    #live-ratings-table th.country,
    #live-ratings-table td.country {
        display: none;
    }
}
*/
/* official table sizing */
#official-ratings-table th.position{
    width: 40px;
}
#official-ratings-table th.title{
    width: 50px;
}
#official-ratings-table th.name{
    width: 300px;
}
#official-ratings-table th.country {
    width: 30px;
}
#official-ratings-table th.age{
    width: 50px;
}
@media (max-width: 767px) {
    #official-ratings-table th.position{
        width: 30px;
    }
    #official-ratings-table th.name{
        width: 200px;
    }
}
@media (max-width: 599px) {
    #official-ratings-table th.title{
        width: 45px;
    }
    #official-ratings-table th.name{
        width: 100px;
    }
    #official-ratings-table td.name{
        padding-left: 5px;
    }
    #official-ratings-table th.age{
        width: 40px;
    }
}
@media (max-width: 479px) {
    #official-ratings-table th.standard.canhide,
    #official-ratings-table th.rapid.canhide,
    #official-ratings-table th.blitz.canhide,

    #official-ratings-table td.standard.canhide,
    #official-ratings-table td.rapid.canhide,
    #official-ratings-table td.blitz.canhide {
        display: none;
    }
}
@media (max-width: 359px) {
    #official-ratings-table th.country,
    #official-ratings-table td.country {
        display: none;
    }
    #official-ratings-table th.name{
        width: 100px;
    }
}

tr.empty-row td {
    line-height: 23px !important;
}


#faqs h1 {
    font-size: 24px;
}
#faqs h3 {
    font-size: 18px;
}

#shop h1 {
    font-size: 18px;
}

.print-country {
    display: none;
    font-size: 12px;
    padding-top: 5px;
    margin: 0 auto;
}
.expand-games .print-country {
    padding-top: 3px;
}
@media print {
    @page { size: landscape; }
    a:link:after, a:visited:after {
        content: "";
    }
    #name-filter,
    #live-ratings-tabs,
    #events,
    #games-archive,
    #sidebar,
    .ad {
        display: none;
    }
    .print-country {
        display: block;
    }
    .flag  {
        display: none !important;
    }
    .thumb-img {
        max-height: 178px;
        overflow: hidden;
        text-align:center;
    }
}

#charts h1 {
    font-size: 24px;
}
#chartBg h1 {
    font-size: 48px;
}
#chartBg h1 a {
    color: #b7b58f;
}
@media (max-width: 989px) {
    #chartBg h1 {
        font-size: 24px;
    }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

#chartBg {
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    -moz-transform:    translate(-50%, 0);
    -ms-transform:     translate(-50%, 0);
    -o-transform:      translate(-50%, 0);
    transform:         translate(-50%, 0);
    bottom: 35%;
    left: 50%;
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}

#charts .players-list {
    margin-bottom: 0;
}
#charts .players-list li {
    background-color: #d3d2a6;
    padding: 5px 8px;
    margin-left: 5px;
    border-left: 5px solid #b7b58f;
    margin-bottom: 5px;
    white-space: nowrap;
    display: inline-block;
    float: left;
    line-height: 20px;
    overflow: hidden;
}
#charts .players-list .name,
#charts .players-list small {
    display: inline-block;
    overflow: hidden;
}

#charts .players-list .add-player {
    border: none;
    line-height: 50px;
    max-width: inherit;
    width: 140px;
    text-align: center;
    display: none;
}

#charts .player-search {
    display: none;
}

/* --- */

@media (min-width: 1200px) {
    #charts .players-list .add-player,
    #charts .players-list li {
        width: 175px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #charts .players-list .add-player,
    #charts .players-list li {
        width: 142px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #charts .players-list li {
        width: 140px;
    }
    #charts .players-list .name,
    #charts .players-list small {
        width: 106px;
    }
}
/* --- */

#gamesArchiveSearch .white-select,
#gamesArchiveSearch .black-select {
    max-height: 300px;
    overflow-y: scroll;
}

.games-archive-search .label-padding {
    padding-top: 24px;
}

.games-archive-search .comma {
    position: absolute;
    top: 40px;
    right: 5px;
}

#gamesArchive td {
    white-space: nowrap;
    overflow: hidden;
}

.range .from,
.range .to,
.range .dash {
    float: left;
}

.range .from {
    width: 45%;
}
.range .to {
    width: 45%;
}
.range .dash {
    width: 10%;
    text-align: center;
    padding-top: 7px;
}

#playerProfile h1 {
    font-size: 24px;
}

#playerProfile .flag {
    vertical-align: inherit;
}

.ad2700 {
    display: inline-block
}

#peakRatings #live-ratings-tabs > li > a {
    width: inherit;
}

#peakRatingsTable,
#ratings1978Table,
#ratingChartsTable {
    clear: both;
    margin-top: -1px;
}

#peakRatingsTable th,
#peakRatingsTable td,
#ratings1978Table th,
#ratings1978Table td,
#ratingChartsTable th,
#ratingChartsTable td {
    text-align: center;
    vertical-align: middle;
}

#peakRatingsTable th,
#ratings1978Table th,
#ratingChartsTable th {
    background-color: #d3d2a6;
}

#peakRatingsTable th a,
#ratings1978Table th a,
#ratingChartsTable th a,
#peakRatingsTable td.name a,
#ratings1978Table td.name a,
#ratingChartsTable td.name a {
    color: #333;
}

#peakRatingsTable td.date,
#ratings1978Table td.date,
#ratingChartsTable td.date {
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
}

#peakRatingsTable td,
#ratings1978Table td,
#ratingChartsTable td {
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}
#peakRatingsTable td.name,
#peakRatingsTable td.notes,
#ratings1978Table td.name,
#ratings1978Table td.notes,
#ratings1978Table td.country,
#ratingChartsTable td.name,
#ratingChartsTable td.notes {
    text-align: left;
}
#peakRatingsTable td.notes,
#ratings1978Table td.notes,
#ratingChartsTable td.notes {
    max-width: 250px;
    font-size: 14px;
    padding-left: 5px;
}

#peakRatings #chartTableSearch .input-group-btn:first-child > .btn {
    border-bottom-left-radius: 0;
    background-color: #d3d2a6;
    border-color: #d3d2a6;
    color: #939374;
}
#peakRatings #chartTableSearch .input-group-btn:last-child > .btn {
    border-bottom-right-radius: 0;
    background-color: #d3d2a6;
    border-color: #d3d2a6;
    color: #939374;
}

@media (max-width: 459px) {
    #peakRatings th.name,
    #peakRatings td.name {
        max-width: 145px;
        overflow: hidden;
    }
    #peakRatings th.date,
    #peakRatings td.date,
    #peakRatings th.birth,
    #peakRatings td.birth {
        display: none;
    }
}

#tree h1 {
    font-size: 24px;
}

.nav-tabs {
    border-bottom: 1px solid #9c9a74;
}
.nav-tabs > li > a {
    color: #333;
    border: 1px solid transparent;
    background-color: #b7b58f;
    border-bottom-color: #9c9a74;
}
.nav-tabs > li > a:hover {
    background-color: #d3d2a6;
    border-color: #b7b58f;
    border-bottom-color: #9c9a74;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: transparent;
    border: 1px solid #9c9a74;
    border-bottom-color: #e3e2c4;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #d3d2a6;
}

#userLibrary .board-item {
    position: relative;
    margin-bottom: 28px;
}
#userLibrary .board-item .close {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 100;
}
#userLibrary .board-item:hover .close {
    display: block;
}

#play .dl-horizontal dt,
#analysis .dl-horizontal dt,
#archiveView .dl-horizontal dt {
    width: 80px;
}
@media (min-width: 768px) {
    #play .dl-horizontal dd,
    #analysis .dl-horizontal dd,
    #archiveView .dl-horizontal dd {
        margin-left: 100px;
    }
}

#play #board {
    margin-bottom: 20px;
}

#gamesArchiveTable td {
    padding: 2px 8px;
}
#gamesArchiveTable td.name {
    overflow: hidden;
}
@media (min-width: 768px) and (max-width: 989px) {
    #gamesArchiveTable td.name {
        max-width: 140px;
    }
}
@media (min-width: 561px) and (max-width: 767px) {
    #gamesArchiveTable td.name {
        max-width: 120px;
    }
    #gamesArchiveTable th.site,
    #gamesArchiveTable td.site,
    #gamesArchiveTable th.date,
    #gamesArchiveTable td.date,
    #gamesArchiveTable th.eco_id,
    #gamesArchiveTable td.eco_id,
    #gamesArchiveTable th.plycount,
    #gamesArchiveTable td.plycount {
        display: none;
    }
}

@media (max-width: 560px) {
    #gamesArchiveTable td.name {
        max-width: 85px;
    }
    #gamesArchiveTable th.rating,
    #gamesArchiveTable td.rating,
    #gamesArchiveTable th.site,
    #gamesArchiveTable td.site,
    #gamesArchiveTable th.date,
    #gamesArchiveTable td.date,
    #gamesArchiveTable th.eco_id,
    #gamesArchiveTable td.eco_id,
    #gamesArchiveTable th.plycount,
    #gamesArchiveTable td.plycount {
        display: none;
    }
}
#live-ratings-table .tooltip-inner {
    max-width: none;
}
/*
.table-2700 {
    table-layout: fixed;
}

.table-2700 > tbody > tr.leaders {
    background-image: url(/img/tr_bg_leaders.jpg);
}
.table-2700 > tbody > tr.top_ten {
    background-image: url(/img/tr_bg_top_ten.jpg);
}
.table-2700 > tbody > tr.all_lines {
    background-image: url(/img/tr_bg.jpg);
}

.table-2700 th,
.table-2700 td {
    text-align: center;
    vertical-align: middle;
}

.table-2700 th {
    background-color: #d3d2a6;
    font-size: 18px;
    font-weight: normal;
    line-height: 19px;
    padding: 1px;
}

.table-2700 th a {
    text-decoration: none;
}
.table-2700 td {
    font-size: 18px;
    line-height: 18px;
    height: 23px;
    padding: 2px 0 0 0;

    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

.table-2700 td.name {
    text-align: left;
    padding-left: 10px;
}

.table-2700 td.country .flag {
    margin: 2px;
}
*/