<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div id="app"></div>
    <script type = "text/template" id="list-template">
        <div class="list">
            {{#each user}}
        <div class="item">
        <h2> <a href = "#{{username}}">{{name}}</a> </h2>
        <p>{{username}}</p>
            <p>{{adress.city}}</p>
        </div>
            {{/each}}


    </script>
    <script type = "text/template" id="item-template">

            {{#each user}}
            <div class="item">
        <h2> {{name}} </h2>
        <p>{{username}}{{email}}</p>

            </div>
            {{/each}}

    </script>
</div>


<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script type="text/javascript" src="item.js"></script>
<script type="text/javascript" src="list.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="main.js"></script>

</body>
</html>